body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: left;
    margin-bottom: 15px;
}

.profile .section {
    margin-top: 15px;
}

.media-object {
    width: 50px;
}

.community-menu {
    color: #999;
    font-size: 13px;
}

.media-body {

}

.comment {
    margin: 10px 0px;
}

.btn-comment {
    float: right;
    margin: 10px;
}

.comment-sp {
    margin-top: 0px
}

.comment-name {
    padding-top: 5px
}

.glyphicon-thumbs-up {
    padding-right: 10px;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #EEEEEE;
}

.glyphicon {
    padding-top: 25px;
}
.community-tag {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff !important;
    border-radius: 4px;
    margin: 4px;
}