<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css">
</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="jumbotron" style="margin: 50px">
    <h1>页面不知为何，飘走了</h1>
    <p th:text="${message}"></p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">返回首页</a></p>
</div>
</body>
</html>